<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

$TM_HG addremove

</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>AddRemove</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>hg</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/hg</string>
				<string>/usr/local/bin/hg</string>
			</array>
			<key>variable</key>
			<string>TM_HG</string>
		</dict>
	</array>
	<key>scope</key>
	<string>attr.scm.hg</string>
	<key>semanticClass</key>
	<string>action.scm.addremove</string>
	<key>uuid</key>
	<string>865D7DE7-A07B-47C1-AEDC-4A88317A0EB1</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
