<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

export TM_HG
export CommitWindow="$TM_SCM_COMMIT_WINDOW"

cd "$TM_DIRECTORY"
ruby18 -- "${TM_BUNDLE_SUPPORT}/hg_commit.rb"</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>Commit</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>hg</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/hg</string>
				<string>/usr/local/bin/hg</string>
			</array>
			<key>variable</key>
			<string>TM_HG</string>
		</dict>
	</array>
	<key>scope</key>
	<string>attr.scm.hg</string>
	<key>semanticClass</key>
	<string>action.scm.commit</string>
	<key>uuid</key>
	<string>A6254651-3866-4F78-8774-10FA1C1D7A6B</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
