<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

require_cmd "${TM_HG:=hg}" "If you have installed Mercurial, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_HG&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

cd "$TM_PROJECT_DIRECTORY"

/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -r "$TM_SUPPORT_PATH/lib/shelltokenize.rb" &lt;&lt;END
	hg = ENV['TM_HG'] || "hg"
	output = puts %x{#{hg} init}
	puts output
END

# will cause current file to be re-loaded
rescan_project</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>Init</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>scope</key>
	<string>-attr.scm</string>
	<key>semanticClass</key>
	<string>action.scm.init</string>
	<key>uuid</key>
	<string>60838383-D23C-465B-9414-A1EC148F6D1D</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
