<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

export WorkPath="$TM_DIRECTORY"; cd "$TM_DIRECTORY"
      
FORMAT_LOG="${TM_BUNDLE_SUPPORT}/format_log.rb"
HG_STYLE="${TM_BUNDLE_SUPPORT}/map-log.changelog"

if [[ $TM_HG_LOG_LIMIT != 0 ]]
	then HG_LIMIT="-l ${TM_HG_LOG_LIMIT:=10}"
fi

HG_STYLE_TMP='"$HG_STYLE"'
TM_HG_TMP='"$TM_HG"'

if [[ -z $TM_SELECTED_FILES ]]; then
   "$TM_HG" log $HG_LIMIT --style "$HG_STYLE" "$TM_FILEPATH" 2&gt;&amp;1 |ruby18 -- "$FORMAT_LOG"
else
   eval "$TM_HG_TMP" log $HG_LIMIT --style "$HG_STYLE_TMP" "$TM_SELECTED_FILES" 2&gt;&amp;1 |ruby18 -- "$FORMAT_LOG"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>Log</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>hg</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/hg</string>
				<string>/usr/local/bin/hg</string>
			</array>
			<key>variable</key>
			<string>TM_HG</string>
		</dict>
	</array>
	<key>scope</key>
	<string>attr.scm.hg</string>
	<key>semanticClass</key>
	<string>action.scm.log</string>
	<key>uuid</key>
	<string>DF26FEB2-2E2C-4764-B766-869113AF6E00</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
