<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

require_cmd "${TM_HG:=hg}" "If you have installed hg, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_HG&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

export WorkPath="$TM_DIRECTORY"; cd "$TM_DIRECTORY"
      
FORMAT_LOG="${TM_BUNDLE_SUPPORT}/format_log.rb"
HG_STYLE="${TM_BUNDLE_SUPPORT}/map-log.changelog"

if [[ $TM_HG_LOG_LIMIT != 0 ]]
	then HG_LIMIT="-l ${TM_HG_LOG_LIMIT:=10}"
fi

HG_STYLE_TMP='"$HG_STYLE"'
TM_HG_TMP='"$TM_HG"'

if [[ -z $TM_SELECTED_FILES ]]; then
   "$TM_HG" log $HG_LIMIT --style "$HG_STYLE" "$TM_FILEPATH" 2&gt;&amp;1 |/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -- "$FORMAT_LOG"
else
   eval "$TM_HG_TMP" log $HG_LIMIT --style "$HG_STYLE_TMP" "$TM_SELECTED_FILES" 2&gt;&amp;1 |/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -- "$FORMAT_LOG"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>name</key>
	<string>Log</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>attr.scm.hg</string>
	<key>semanticClass</key>
	<string>action.scm.log</string>
	<key>uuid</key>
	<string>DF26FEB2-2E2C-4764-B766-869113AF6E00</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
